{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}
  
    <div class="row" style="margin: 10px;">
        
        <div class="col-8">
            
            <div class="card mb-3" style="max-width: 840px;">
                <div class="row g-0">
                    <h1 style="margin: 10px;">Tu cesta tiene </h1>
                    {% for item in carro.productos.all %}
                        <div class="col-md-2">
                            {% if item.productoimagen_set.fotoActivaPresentada %}
                                {% for imagen in item.productoimagen_set.fotoActivaPresentada %}
                                    <img src="{{imagen.imagen.url}}" class="img-thumbnail" alt="{{item.titulo}}" 
                                                width="200px" height="400px" style="margin: 10px;">
                                {% endfor %}
                            {% else %}
                                <img src="{% static 'img/placeholder.png' %}" class="img-fluid rounded-start" alt="">
                            {% endif %}
                        </div>
                        
                        <div class="col-md-10">
                            <div class="card-body">
                                <table class="table table-borderless table-sm">
                                    <tbody>
                                    <tr>
                                        <td><b>{{item.titulo|title}}</b></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>{{item.descripcion|truncatewords:8}}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Color: rojo</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Talla: 43</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Entrega rápida:</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        
                                        <td>Eliminar</td>
                                        <td>Mover a favoritos</td>
                                        <td><b>{{item.precio}}</b></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                    
                </div>
            </div>
            
        </div>
        
        <div class="col-4">
            <div class="card mb-3" style="max-width: 540px;">
                <h1 style="margin: 10px;">Total</h1>
                <table class="table table-borderless" style="margin: 10px;">
                    
                    <tbody>
                        <tr>
                            <td>Subtotal</td>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <td scope="col">29,99 €</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>Envío</td>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <td scope="col">0,00 €</td>
                            
                        </tr>
                    
                    </tbody>

                    <tbody> 
                        <tr>
                            <th scope="col">Total (IVA incluido)</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col">29,99 €</th>

                        </tr>

                    </tbody>
                    <tbody>
                        <tr>
                            <td colspan="4">
                                <div class="d-grid gap-2 col-11 mx-auto">

                                    <button type="button" class="btn btn-primary btn-lg">Comenzar pedido</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>

                
            </div>
        </div>

    </div>

  
        

    
{% endblock content %}

{% block javascript/jquery %}{% endblock javascript/jquery %}