{% extends 'base.html' %}
{% load static %}

{% block title %}Carro{% endblock title %}

{% block content %}
    <style>
        .a_resaltado{
            text-decoration: none;
            color: black;
        }
    </style>
    
    {% if carro_vacio %}
        <div class="card mb-3" style="margin: 10px; height:250px">
            
            <div class="card-body" style="margin:120px">
                <h1 style="text-align: center;" class="card-title">Llena tu cesta de nuevas tendencias.</h1>
                
                <p class="card-text" style="text-align: center;">
                    <button type="button" class="btn btn-outline-primary">Iniciar Sesion</button>&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'producto:all' %}" type="button" class="btn btn-primary">Volver a la tienda</a>

                </p>
            </div>
        </div>

    {% else %}

        <div class="row" style="margin: 10px;">
            
            <div class="col-8">
                
                <div class="card mb-3" style="max-width: 840px;">
                    <div class="row g-0">
                        <h1 style="margin: 10px;">Tu cesta ({{msj_articulos}})</h1><a href="{% url 'carro:borrar-carro' %}">Borrar Carro</a>
                        {% for item in carro.carroitem_set.all %}
                            <div class="col-md-2">
                                {% if item.producto.productoimagen_set.fotoActivaPresentada %}
                                    {% for imagen in item.producto.productoimagen_set.fotoActivaPresentada %}
                                        <img src="{{imagen.imagen.url}}" class="img-thumbnail" alt="{{item.titulo}}" 
                                                    width="200px" height="400px" style="margin: 10px;">
                                    {% endfor %}
                                {% else %}
                                    <img src="{% static 'img/placeholder.png' %}" class="img-fluid rounded-start" alt=""  
                                                    width="200px" height="400px" style="margin: 10px;">
                                {% endif %}
                            </div>
                            
                            <div class="col-md-10">
                                <div class="card-body">
                                    <table class="table table-borderless table-sm">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <b>{{item.producto.titulo|title}}</b>
                                                    <br>
                                                    {{item.producto.descripcion|truncatewords:8}}
                                                    <br>
                                                    Color: rojo
                                                    <br>
                                                    Talla: 43
                                                </td>
                                                <td></td>
                                                <td>
                                                    <select class="form-select form-select-sm" aria-label="Small select example">
                                                        <option value="1" selected>1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                    </select>
                                                </td>
                                                <td>{{item.cantidad}}</td>
                                            </tr>
                                            <tr>
                                                <td>Entrega rápida:</td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr> 
                                                <td>{{item.get_carro_producto_url}}
                                                    <a href="{{item.producto.get_carro_producto_url}}?qty=0" class="a_resaltado">
                                                        <img src="{% static 'img/icon-delete.png' %}" width="25px">
                                                            Eliminar
                                                    </a>
                                                </td>
                                                <td>Mover a favoritos</td>
                                                <td><b>{{item.linea_total}}</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                            <hr/>
                        {% endfor %}
                        
                    </div>
                </div>
                
            </div>
            
            <div class="col-4">
                <div class="card mb-3" style="max-width: 540px;">
                    <h1 style="margin: 10px;">Total</h1>
                    <table class="table table-borderless" style="margin: 10px;">
                        
                        <tbody>
                            <tr>
                                <td>Subtotal</td>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <td scope="col">{{carro.total}} €</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>Envío</td>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <td scope="col">0,00 €</td>
                                
                            </tr>
                        
                        </tbody>

                        <tbody> 
                            <tr>
                                <th scope="col">Total (IVA incluido)</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">{{carro.total}} €</th>

                            </tr>

                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <div class="d-grid gap-2 col-11 mx-auto">

                                        <button type="button" class="btn btn-primary btn-lg">Comenzar pedido</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                    
                </div>
            </div>

        </div>
    
    {% endif %}

{% endblock content %}
    <script>

    </script>

{% block javascript/jquery %}{% endblock javascript/jquery %}