{% extends 'base.html' %}
{% load static %}

{% block title %}{{producto.titulo|title}}{% endblock title %}

{% block content %}
    <style>
       
        .a_resaltado{
            text-decoration: none;
            color: black;
        }
        .div_resaltado:hover{
            transition: all 400ms;
            box-shadow: 6px 8px 8px gray;
            cursor: pointer;
            color: darksalmon;
        }
        .img_principal .main_img{
            box-shadow: 0 5px 5px rgba(1,23,46,0.6);
            
        }
        .contenedor_miniaturas .miniaturas{
            opacity: 0.7;
            transition: .3s;
            cursor: pointer;
        }
        .contenedor_miniaturas .miniaturas:hover{
            opacity: 1;
        }
        .activo {
            opacity: 1 !important;
            box-shadow: 0 5px 5px rgba(1,23,46,0.6);
            
        }
     
    </style>
    <div class="row">
        <div class="col-2">
            {% if producto.productoimagen_set.fotoActiva %}
                {% for foto in producto.productoimagen_set.fotoActiva %}
                    {% if forloop.first %}
                        <div class="card contenedor_miniaturas" style="margin-top: 10px;">
                            <img src="{{foto.imagen.url}}" class="card-img-top miniaturas activo" alt="{{foto.titulo}}">
                        </div>
                    {% else %}
                        <div class="card contenedor_miniaturas" style="margin-top: 10px;">
                            <img src="{{foto.imagen.url}}" class="card-img-top miniaturas" alt="{{foto.titulo}}">
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-6">
            {% if producto.productoimagen_set.fotoActivaPresentada %}
                {% for foto in producto.productoimagen_set.fotoActivaPresentada %}
                    <div class="card mb-3 img_principal" style="margin-top: 10px;">
                        <img src="{{foto.imagen.url}}" class="card-img-top main_img" alt="{{foto.nombre}}">
                    </div>
                {% endfor %}
            {% else %}
                <div class="card mb-3" style="margin-top: 10px;">
                    <img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="" height="600px">
                </div>
            {% endif %}
        </div>
        <div class="col-4">
            <div class="card mb-3" style="margin-top: 10px;">
                <div class="card-body">
                  <h1 class="card-title">{{producto.titulo|title}}</h1>
                  <h2 class="card-text"><b>{{producto.descripcion|truncatewords:10}}</b></h2>
                  <h3 class="card-text"><small class="text-body-secondary">{{producto.precio}} €</small></h3>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h1>Artículos similares</h1>
    <div class="row">
        
        {% for producto in related_productos %}
            
            <div class="card div_resaltado" style="width: 13rem; margin-left:10px">
                <a href="{{producto.get_absolute_url}}" class="a_resaltado">
                    {% if producto.productoimagen_set.fotoActivaPresentada %}
                        {% for foto in producto.productoimagen_set.fotoActivaPresentada %}
                            <img src="{{foto.imagen.url}}" class="card-img-top" alt="{{producto.titulo}}">
                        {% endfor %}
                    {% else %}
                        <img src="{% static 'img/placeholder.png' %}" class="card-img-top" alt="" height="200px">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{producto.titulo|title}}</h5>
                        <p class="card-text">{{producto.descripcion|truncatewords:5}}</p>
                        <p class="card-text"><b>{{producto.precio}} €</b></p>
                    </div>
                </a>
            </div>
            
        {% endfor %}
       

    </div>

{% endblock content %}


{% block javascript/jquery %}
    <script>
        const main_img = document.querySelector('.main_img')
        const miniaturas = document.querySelectorAll('.miniaturas')

        miniaturas.forEach(miniatura => {
            miniatura.addEventListener('click', function(){
                const activo = document.querySelector('.activo')
                activo.classList.remove('activo')
                miniatura.classList.add('activo')
                main_img.src = miniatura.src  
            })
        })
    </script>

{% endblock javascript/jquery %}