{% load static %}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="color: black;">
    <div class="offcanvas-header">
      <h1 class="offcanvas-title" id="offcanvasRightLabel">Cesta</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    
    {% if previo_carro_vacio %}
        <div class="card mb-3">
            <div class="card-body">
                <h4 style="text-align: center;" class="card-title">Tu Cesta</h4>
                <p style="text-align: center;" class="card-title">Llena tu cesta de nuevas tendencias.</p>
                <p class="card-text" style="text-align: center;">
                    <h4 style="text-align: center;" class="card-title"><b>¿Necesitas inspiración?</b></h4>
                    <a href="{% url 'producto:all' %}" type="button" class="btn btn-primary">Ver novedades</a>
                </p>
            </div>
        </div>
    {% else %}
        <div class="row"> 
            <div class="col-12">  
                <div class="card" >
                    <div class="row g-0">
                        
                        {% for item in previo_carro %}
                            <div class="col-md-2">
                                {% if item.producto.productoimagen_set.fotoActivaPresentada %}
                                    {% for imagen in item.producto.productoimagen_set.fotoActivaPresentada %}
                                        <img src="{{imagen.imagen.url}}" class="img-thumbnail" alt="{{item.titulo}}" 
                                                    width="200px" height="400px" style="margin: 10px;">
                                    {% endfor %}
                                {% else %}
                                    <img src="{% static 'img/placeholder.png' %}" class="img-fluid rounded-start" alt=""  
                                                    width="200px" height="400px" style="margin: 10px;">
                                {% endif %}
                            </div>
                            
                            <div class="col-md-10">
                                <div class="card-body">

                                    <b>{{item.producto.titulo|title}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{item.linea_total}} €</b>                    
                                    <br>
                                    {{item.producto.descripcion|truncatewords:2}}
                                    <br>
                                    Talla: 
                                        {% for talla in item.variaciones.all %}
                                            {{talla}}
                                        {% endfor %}
                                    <br>
                                    
                                    <small>
                                        <a href="{{item.get_borrar_item_url}}?url={{request.get_full_path}}&qty=0" class="a_resaltado">
                                        
                                            Eliminar
                                        </a>       
                                            | Mover a favoritos
                                    </small>
    
                                </div>
                            </div>
                            <hr/>
                        {% endfor %}
                        <div style="margin: 10px;">
                            <table class="table table-borderless">
                                
                                <tr>
                                    <td>Envío</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>0,00 €</td>
                                </tr>
                                <tr>
                                    <td><b>Total</b> (IVA incluido)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b style="font-size: 25px;">{{previo_total}} €</b></td>
                                </tr>
                                
                            </table>
                            
            
                            <div class="d-grid gap-2 col-11 mx-auto">

                                <a href="{% url 'carro:vista' %}" type="button" class="btn btn-primary btn-lg">Comenzar pedido</a>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    {% endif%}

</div>
